<!DOCTYPE html>
<html>
<head>
  <title>Flask-SSE Quickstart</title>
</head>
<body>
  <h1>Flask-SSE Quickstart</h1>
  <script>
      function connect(){
        var source = new EventSource("{{ url_for('sse.stream') }}");
        event_listener = source.addEventListener('job_status', function(event) {
            var data = JSON.parse(event.data);
            //alert("The server says " + data.message);
            const div = document.getElementById('myDiv');
            const new_p = document.createElement('p');
            new_p.textContent = data.message;
            div.appendChild(new_p);
        }, false);

        source.addEventListener('error', function(event) {
            source.close();
            connect();
        }, false);
      }
      
      connect();


  </script>
<div id = "myDiv"></div>
</body>
</html>
